:root {
  --gradient-color-1: #429d7c;
  --gradient-color-2: #145d62;
}

.app {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 121.63%
  );
}
