:root {
  --gradient-color-1: #429d7c;
  --gradient-color-2: #145d62;
  --primary-text: #0d4245;
  --secondary-text: #1a5357;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  // background-color: #cee5ff;
  background: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 121.63%
  );
}

@import "app";
@import "components/card";
@import "components/header";
@import "components/create-task";
@import "pages/project";

.content {
  padding: 1rem;
}
