:root {
  --gradient-color-1: #429d7c;
  --gradient-color-2: #145d62;
  --primary-text: #0d4245;
  --secondary-text: #1a5357;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color-1)), color-stop(121.63%, var(--gradient-color-2)));
  background: linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 121.63%);
}

:root {
  --gradient-color-1: #429d7c;
  --gradient-color-2: #145d62;
}

.app {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color-1)), color-stop(121.63%, var(--gradient-color-2)));
  background: linear-gradient(180deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 121.63%);
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.card {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  padding: 1rem;
  min-width: 100%;
  min-height: 300px;
  justify-self: flex-start;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.card__header__title {
  color: var(--primary-text);
}

.card__info {
  color: var(--secondary-text);
}

.close-button {
  fill: var(--primary-text);
}

.header {
  min-height: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__title {
  margin: 1rem;
}

.create-task {
  background: white;
  min-height: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-task__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-task__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collapsed {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-page {
  padding: 1rem;
}

.project-page__header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-page__header__title {
  font-size: 5rem;
  background-color: #294144;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.9);
  -webkit-background-clip: text;
  background-clip: text;
}

.project-page__header__form-button {
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid white;
  border-radius: 4px;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.content {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */